<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <ul style="padding: 0%; padding-left: 5%; width: 95%;">
                <!-- <li class="nav-tag {% if page.url contains 'tag' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag">Tags</a></li> -->
            <a href="{{ site.baseurl }}tag">Tags</a>
            <!-- tech는 최상단, 나머지는 알파벳 순서 -->
            <li class="nav-tech {% if page.url contains 'tech' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/tech">Tech</a></li>
            <li class="nav-tech {% if page.url contains 'camera-pose-extraction' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/camera-pose-extraction">Camera Pose Extraction</a></li>
            <li class="nav-tech {% if page.url contains 'control' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/control">Control</a></li>
            <li class="nav-tech {% if page.url contains 'deep-learning' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/deep-learning">Deep Learning</a></li>
            <li class="nav-tech {% if page.url contains 'slam' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/slam">Slam</a></li>
            <li class="nav-tech {% if page.url contains 'sensor-fusion' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/sensor-fusion">Sensor fusion</a></li>
            <!-- <li class="nav-tech {% if page.url contains 'test' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/test">Test</a></li> -->
            <li class="nav-tech {% if page.url contains 'manage' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/manage">Manage</a></li>
            <li class="nav-tech {% if page.url contains 'planning' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/planning">Planning</a></li>


            
        </ul>
        <ul style="padding: 0%; padding-left: 5%; width: 95%;">
            <a href="{{ site.baseurl }}author">Authors</a>
            <!-- 철자 순서대로 정렬함 -->
            <!-- 추후 기수가 늘어나면 기수별로 모으는 것을 추천 -->
            <li class="nav-author {% if page.url contains 'garamkim' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/garamkim">김가람</a></li>
            <li class="nav-author {% if page.url contains 'minseokkim' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/minseokkim">김민석</a></li>
            <li class="nav-author {% if page.url contains 'jaeminyu' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/jaeminyu">유재민</a></li>
            <li class="nav-author {% if page.url contains 'ajincho' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/ajincho">조아진</a></li>
            <!-- <li class="nav-author {% if page.url contains 'yunseocho' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/yunseocho">조윤서</a></li> -->
            <li class="nav-author {% if page.url contains 'hyunsungchoi' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/hyunsungchoi">최현성</a></li>
            <li class="nav-author {% if page.url contains 'gyeomhan' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/gyeomhan">한겸</a></li>
            <!-- <li class="nav-author {% if page.url contains 'suahan' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/suahan">한수아</a></li> -->
        </ul>
    </ul>
    <!-- <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a> -->
</div>
<span class="nav-cover"></span>